<DOCTYPE! html>
<head>
  
</head>

<body>
  <h1>Welcome, <%=@user.name%>!</h1><br>
  Create new materials list<br>
  Show Current materials lists<br>
  <a href="/sessions/logout">Log Out</a>


</body>

</html>