<% @materials.each do |recipe|%>
  <a href="/materials/<%= materials.id %>">Name: <%= materials.name %></a>
  Ingredients: <%= materials.ingredients %>
  Cook time <%= materials.cook_time %>
<% end %>