<DOCTYPE! html>
<head>
  
</head>

<body>
<h2>Enter Below How Many of Each Material type you have<br></h2>

<form method="post" action="/calculate">
  Wood<input type="text" name="wood"><br>
  Brick<input type="text" name="brick"><br>
  Steel<input type="text" name="steel"><br>
  <input type="submit" value="submit">
</form>

</body>
</html>